node_modules
.env

code/resources/downloads/images/
code/resources/downloads/videos/

code/resources/uploads/images/
code/resources/uploads/videos/
code/resources/uploads/documents/
code/resources/uploads/audios/