<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node.Js Server</title>
    <link rel="stylesheet" href="styles/index.css" />
    <script src="scripts/index.js"></script>
    <base href="/" />
  </head>
  <body>
    <div id="wrapper">
      <h1>Welcome to the <span>Node JS</span> Server !</h1>
      <h4>
        Click the button below to view all the collections from the database
        connected to the Node.Js Server.
      </h4>
      <div>
        <br />
        <a id="btn1" href="database">Database</a>
      </div>
    </div>
  </body>
</html>
